.search-form {
    margin-bottom: 35px;
}

button.search-button {
    width: 100px;
    height: 50px;
    vertical-align: top;
}

input.search-input {
    width: calc(100% - 100px);
    height: 50px;
    padding: 12px 18px;
    border: 3px solid #7160e8;
    border-right: 0;
    border-radius: 0;
    vertical-align: top;
    outline: none;
}

.search-list-book {
    padding: 0;
    margin: 0 0 40px;
    list-style: none;
}

.search-item-book {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.13);
}

.search-item-book-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.search-item-book-img {
    width: 20%;
}

.search-item-book-img img {
    display: block;
    max-width: 100%;
}

.search-item-book-text {
    width: 80%;
    padding: 0 0 0 22px;
}

.search-item-book-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #7160e8;
}

.search-item-book-authors {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1;
    color: #7160e88a;
}

.search-item-book-description {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.search-item-book-button-wrapper {
    margin: -5px;
}

.button.search-item-book-button {
    padding: 8px 14px;
    margin: 5px;
    font-size: 14px;
    border-width: 2.5px;
}

.book-block-item {
    display: none;
}

.book-block-item.is-active {
    display: block;
}

.book-nav-panel {
    margin-top: 45px;
    text-align: center;
}

.book-nav-panel .button {
    display: none;
}

.book-nav-panel .button.is-active {
    display: inline-block
}

.button-delete-book {
    position: absolute;
    top: 23px;
    right: 5px;
    padding: 0;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.button-delete-book svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {

    .search-form {
        margin-bottom: 15px;
    }

    input.search-input {
        width: calc(100% - 80px);
        padding: 12px 10px;
        font-size: 14px;
    }

    button.search-button {
        width: 80px;
        padding: 12px 5px;
    }

    .search-list-book {
        margin-bottom: 20px;
    }

    .search-item-book {
        padding: 15px 0;
    }

    .search-item-book-text {
        padding: 0 0 0 15px;
    }

    .search-item-book-title {
        margin-bottom: 8px;
        font-size: 18px;
    }

    .search-item-book-authors {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .search-item-book-description {
        margin-bottom: 10px;
    }

    .book-nav-panel {
        margin-top: 20px;
    }
    
    .button.search-item-book-button span {
        font-size: 14px;
    }
}