
.app-main {
    position: relative;
    width: 58.33333%;
}

.app-main-item:before, 
.app-main-item:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fff;
}

.app-main-item:after {
    top: auto;
    bottom: 0;
}

.app-main-text {
    height: 550px;
    padding: 45px 60px;
    filter: blur(5px);
    transition: filter .3s;
    overflow: hidden;
}

.app-main-text.app-main-text--incr-padding {
    padding-bottom: 70px;
}

.app-main-text.is-visible {
    filter: blur(0px);
    overflow: auto;
}

.app-main-text h2 {
    margin: 0;
    font-size: 32px;
}

.app-main-text h3 {
    font-size: 22px;
    font-weight: 500;
}

.app-main-text-title {
    margin-bottom: 40px;
}

.app-main-text-result-book {
    margin-top: 45px;
}

.app-main-item {
    display: none;
    overflow: hidden;
}

.app-main-item.is-active {
    display: block;
}

@media (max-height: 550px) {
    
    .app-main-text {
        height: 100vh;
    }
}

@media (max-width: 1024px) {
    
    .app-main {
        width: 100%;
        margin-bottom: 100px;
    }

    .app-main-text {
        height: auto;
        padding: 25px 20px 15px;
        overflow: auto;
    }

    .app-main-text h2 {
        font-size: 26px;
    }

    .app-main-text h3 {
        font-size: 18px;
    }

    .app-main-text-title {
        margin-bottom: 20px;
    }

    .app-main-item:after,
    .app-main-item:before {
        display: none;
    }

    .app-main-text-result-book {
        margin-top: 25px;
    }

    .app-main-text.app-main-text--incr-padding {
        padding-bottom: 20px;
    }
}