.app-header {
    width: 33.33333%;
    padding: 50px 25px 25px;
    text-align: center;
    color: #fff;
    background-color: #6052c5;
}

.app-header-title {
    font-size: 35px;
    margin-bottom: 25px;
}

.app-header-text {
    font-size: 16px;
    line-height: 1.45;
    color: #d1cdee;
}

.app-header-select {
    margin-top: 20px;
    margin-bottom: 30px;
}

.app-header-timer {
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,.13);
}

.app-header-timer-button {
    margin: 10px;
}

@media (max-height: 550px) {
    
    .app-header {
        height: 100vh;
        overflow: auto;
    }
}

@media (max-width: 1024px) {

    .app-header {
        width: 100%;
        padding: 25px 20px 15px;
    }

    .app-header-title {
        font-size: 28px;
        margin-bottom: 15px;    
    }

    .app-header-select {
        margin-bottom: 20px;
    }

    .app-header-timer {
        z-index: 10;
        position: fixed;
        bottom: 0;
        left: 50%;
        width: 100%;
        max-width: 480px;
        padding: 10px 0;
        background: #6052c5;
        border: 0;
        transform: translate(-50%,0)
    }

    .app-header-timer-button {
        margin: 0 5px;
    }
}